@font-face{
        font-family: TiemposHeadline;
        src: url(../font/TiemposHeadline-Semibold.woff);
}
@font-face{
    font-family: Graphik-Regular;
    src: url(../font/Graphik-Regular.woff);
}
@font-face{
    font-family: Graphik-Medium;
    src: url(../font/Graphik-Medium.ttf);
}
@font-face{
    font-family: Theinhardt-Lt;
    src: url(../font/Graphik-Medium.ttf);
}
body{
    margin:0;
}
header{
  position: relative;
  padding-bottom: 10%;
}
header ul li{
    list-style: none;
    position: absolute;
    font-family: Graphik-Regular;
    font-size:10px;
}
header ul li:nth-child(1){
    top:30px;
    left:7%;
}
header ul li:nth-child(2){
    top:30px;
    left:12%;
}
header ul li:nth-child(3){
    top:30px;
    left:17%;
}
header ul li:nth-child(4){
    top:30px;
    left:23%;
}
header h1{
    position: absolute;
    left:45%;
    font-family: TiemposHeadline;
    font-size:15px;
    letter-spacing: 2px;
    top: 15px;
}
#button{
    position: absolute;
    left: 85%;
    padding:2px 30px;
    top:26px;
    font-family: Graphik-Medium;
    font-size:12px;
    background-color: #fff;
    border-radius: 3px;
}
/*//////////////////////////////////////////////////////////////////////////////////
////////////////////////////section-1/////////////////////////////////////////////*/
article section:nth-child(1){
    background: url(../img/home_hero.png) center/cover no-repeat;
    height: 80vh;
}
section:nth-child(1) h1{
    font-family: Graphik-Regular;
    text-align: center;
    font-size:30px;
    letter-spacing: 2px;
    font-weight: 100;
}
section:nth-child(1) p:nth-of-type(1){
    font-family: Graphik-medium;
    font-size:12px;
    letter-spacing: 2px;
    line-height: 20px;
    padding-left:5%;
    padding-top:50%;
}
section:nth-child(1) h2{
    text-align:right;
    font-family: Graphik-Regular;
    font-size: 50px;
    margin-top:-8%;
    letter-spacing: 2px;
    padding-right:25%;
}
section:nth-child(1) p:nth-of-type(2){
    font-family: Theinhardt-Lt;
    padding-left: 66%;
    color: #9FA2A7;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top:-1.5%;
}
section:nth-child(1) p:nth-of-type(3){
    font-family: TiemposHeadline;
    padding-left: 66%;
    color: #9FA2A7;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top:-0.5%;
}
/*//////////////////////////////////////////////////////////////////////////////////
////////////////////////////section-2/////////////////////////////////////////////*/
section:nth-child(2) img{
    height: 550px;
    width: 600px;
    margin-top:30%;
    margin-left: 5%;
}
section:nth-child(2) h1:nth-of-type(1){
    font-family: TiemposHeadline;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: -37%;
    margin-left: 50%;
    margin-bottom: 5%;
}
section:nth-child(2) h1:nth-child(2n+1){
    font-family: Graphik-medium;
    font-size: 18px;
    margin-left: 50%;
}
section:nth-child(2) p:nth-child(2n){
    font-family: Theinhardt-Lt;
    font-size: 11px;
    margin-left: 50%;
    color: #9FA2A7;
    line-height: 20px;
}
/*//////////////////////////////////////////////////////////////////////////////////
////////////////////////////section-3/////////////////////////////////////////////*/
section:nth-child(3) div{
    background-color: #dee2ee;
    height: 50vh;
    width:90vw;
    margin-left: 5%;
    margin-top: 10%;
}
#howTo{
    height:350px;
    width:350px;
    margin-left: 70%;
    margin-top: 3%;
}
section:nth-child(3) div h1:nth-child(2){
    font-size:35px;
    font-family: TiemposHeadline;
    margin-top: -25%;
    margin-left: 5%;
}
section:nth-child(3) div p:nth-child(3){
    font-family: Theinhardt-Lt;
    font-size: 11px;
    margin-left: 5%;
    line-height: 20px;
    margin-top: -2%;
    color:#848689;
}
section:nth-child(3) div h1:nth-child(4){
    font-size:35px;
    font-family: TiemposHeadline;
    margin-top: 5%;
    margin-left: 5%;
}
section:nth-child(3) div p:nth-child(5){
    font-family: Theinhardt-Lt;
    font-size: 11px;
    margin-left: 5%;
    line-height: 20px;
    margin-top: -2%;
    color:#848689;
}
/*//////////////////////////////////////////////////////////////////////////////////
////////////////////////////section-4/////////////////////////////////////////////*/
section:nth-child(4) h1{
   text-align: center;
   margin-top: 10%;
   font-size:35px;
   font-family: TiemposHeadline;
}
section:nth-child(4) p{
    text-align: center;
    font-family: Theinhardt-Lt;
    font-size: 11px;
    line-height: 20px;
    color: #9FA2A7;
}
/*//////////////////////////////////////////////////////////////////////////////////
////////////////////////////section-5/////////////////////////////////////////////*/
section:nth-child(5){
    background: url(../img/28.png) center/cover no-repeat;
    height:50vh;
    margin-top:10%;
}
section:nth-child(5) img{
    height:350px;
    width:450px;
    margin-left: 50%;
    margin-top: 25%;
}
section:nth-child(5) p{
    font-family: Theinhardt-Lt;
    font-size: 13px;
    line-height: 20px;
    color: #9FA2A7;
    margin-left: 13%;
    margin-top: -20%;
    letter-spacing: 1px;
}